## Master Notebook

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.defaule = 'colab'

from itables import show

In [6]:
#Load CHAS data
file = 'Datasets/CHAS.csv'
df_CHAS = pd.read_csv(file)
df_CHAS.head()

,OBJECTID,GEOID,STATE,COUNTY,NAME,T2_EST1,T8_EST69,T8_EST82,T8_EST95,T8_EST108,...,LF_LI_CB50_R,LF_MI_CB50_R,SF_ELI_CB50_O,SF_LI_CB50_O,SF_MI_CB50_O,LF_ELI_CB50_O,LF_LI_CB50_O,LF_MI_CB50_O,Shape__Area,Shape__Length
0,1,1043,1,43,Cullman,31735,1630,1605,1810,640,...,0,0,190,80,50,10,10,10,2.861199e+09,295392.576915
1,2,1045,1,45,Dale,19405,1605,1760,1530,700,...,20,10,60,15,20,10,10,0,2.007843e+09,200998.041741
2,3,1047,1,47,Dallas,15410,2455,1485,930,790,...,30,0,55,55,0,0,0,0,3.615258e+09,375473.625434
3,4,1049,1,49,DeKalb,26365,1810,1660,1570,580,...,4,0,205,70,25,4,45,4,2.973710e+09,274855.473716
4,5,1051,1,51,Elmore,29795,1510,1880,1350,855,...,0,0,155,30,210,0,15,0,2.404341e+09,273321.812364

In [7]:
#Load demographic data
file = 'Datasets/Demographic.csv'
df_Demo = pd.read_csv(file)
df_Demo.head()

,OBJECTID_1,OBJECTID,GEOID,STATE,STUSAB,STATE_NAME,COUNTY,NAME,B03002EST1,B01001_UNDER17,...,CND_65UP,CND_65UP_PCT,AD_65UP,AD_65UP_PCT,BD_65UP,BD_65UP_PCT,GD_65UP,GD_65UP_PCT,Shape__Area,Shape__Length
0,1,0,2020,2,AK,Alaska,20,Anchorage,292090,70908,...,7294,22.53,2169,6.70,6055,18.70,6084,18.79,1.923023e+10,7.368591e+05
1,2,0,2050,2,AK,Alaska,50,Bethel,18263,6508,...,169,12.53,29,2.15,63,4.67,110,8.15,4.562014e+11,9.237934e+06
2,3,0,2060,2,AK,Alaska,60,Bristol Bay,739,143,...,20,23.26,4,4.65,11,12.79,2,2.33,4.921460e+09,3.368155e+05
3,4,0,2063,2,AK,Alaska,63,Chugach,6495,1387,...,434,49.77,94,10.78,148,16.97,45,5.16,1.048120e+11,1.135352e+07
4,5,0,2066,2,AK,Alaska,66,Copper River,2894,805,...,52,14.61,3,0.84,118,33.15,73,20.51,2.925218e+11,3.013518e+06

In [9]:
#Load housing data
file = 'Datasets/Housing.csv'
df_Housing = pd.read_csv(file)
df_Housing.head()

,OBJECTID_1,GEOID,STATE,STUSAB,STATE_NAME,COUNTY,NAME,B25002EST1,B25002EST2,B25002EST2_PCT,...,B25123EST10,B25123EST10_PCT,B25123EST11,B25123EST11_PCT,B25123EST12,B25123EST12_PCT,B25123EST13,B25123EST13_PCT,Shape__Area,Shape__Length
0,1,2063,2,AK,Alaska,63,Chugach,3287,2310,70.28,...,45,7.26,1,0.16,0,0.00,362,58.39,1.048120e+11,1.135352e+07
1,2,2066,2,AK,Alaska,66,Copper River,2902,1063,36.63,...,11,4.30,6,2.34,0,0.00,166,64.84,2.925218e+11,3.013518e+06
2,3,2068,2,AK,Alaska,68,Denali,1664,726,43.63,...,22,17.74,0,0.00,7,5.65,40,32.26,1.661374e+11,2.084188e+06
3,4,2070,2,AK,Alaska,70,Dillingham,2462,1430,58.08,...,51,9.01,8,1.41,0,0.00,287,50.71,1.934547e+11,3.421842e+06
4,5,2090,2,AK,Alaska,90,Fairbanks North Star,44270,36199,81.77,...,845,5.68,528,3.55,16,0.11,7401,49.72,1.058398e+11,1.883222e+06

In [ ]:
file = 'Datasets/Socioeconomic.csv'